<h2><%= @model.title %>のテスト</h2>

<section>
  <% @model.methods.each do |method| %>
    <dl>
      <dt><%=link_to method.description, action:"cases", id: 1 %></dt>
      <dd>
	<ul>
          <% method.contexts.each do |context| %>
            <li>
	      <%=link_to context.description, "" %>
	      
	    </li>
          <% end %>
	</ul>
      </dd>
    <dl>
  <% end %>
</section>

