<section>
  <h2>リンク集</h2>
  <div class="paginate"><%=paginate @list %></div>
  <ul>
    <% @list.each do |author| %>
      <li>
        <dl>
          <dt>
            <%= author.name %>
          </dt>
          <dd>
            <ul>
              <% author.sites.each do |site| %>
                <% if site.media.try(:icon_url).present? %>
                  <%=link_to raw(%|<img src="#{site.media.icon_url}" alt="#{site.title}" />|), site.href %>
                <% else %>
                  <%=link_to site.title, site.href %>
                <% end %>
              <% end %>
            </ul>
          </dd>
        </dl>
      </li>
    <% end %>
  </ul>
</section>

