@import "mixins.scss";

body {
  margin:0;
  padding:0;
}

header {
  background-color:#ddd;
  margin:0;
  padding:0;
  h1 {
    margin:0 0 0 0.5em;
  }
  nav {
    ul {
      li {
        display:item-list;
        list-style-type:none;
        float:left;
      }
    }
  }
  @include clearfix-after;
}

#content {
  margin:2em;
}

.filters {
  @include clearfix-after;
}

.filter {
  textarea {
    height:4.5em;
  }
}

table.cases {
  max-width:100%;
  border:solid 3px #000;
  td, th {
    border:solid 1px #000;
    min-width:30px;
    height:30px;
    padding:3px;
    textarea {
      width:100%;
      min-width:6em;
      height:2.5em;
      border-style:none;
      background-color:transparent;
    }
  }
  th {
    background-color:#eee;
  }
}
