<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes" />

  <link rel="stylesheet" media="screen" href="/stylesheets/theme/theme.css" />
  <link href="/stylesheets/theme/link.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/png" href="/images/theme/favicon.png" />

  <title>Skyscraper | リンク集</title>

  <script src="/src/ga.js"></script>
</head>
<body>

<header>
  <div id="logo">
    <h1><span id="logo-inner"><a href="/blog">Skyscraper</a></span></h1>
    <p class="desc">静止画M@Dを中心にMMDとか、ニコマスを楽しんで気になったことを書き綴っているサイトです、Web新技術投入したがりなのでブラウザは最新版推奨です</p>
  </div>
  <nav class='navbar navbar-inverse'>
    <div class='navbar-inner'>
      <ul class='nav'>
        <li><a href="/blog">Top</a></li>
        <li><a href="/pages/about-me">サイト・管理人紹介</a></li>
        <li><a href="/links/">静止画MADリンク集</a></li>
      </ul>
    </div>
  </nav>
</header>

<section id="external">
  <div id='main' class="main links">
    <%= yield %>
  </div>
</div>

<footer>
  <div id="creator">
    <p></p>
  </div>
</footer>

</body>
</html>
