<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript;charset=UTF-8" />
  <%=stylesheet_link_tag :normalize %>
  <%=stylesheet_link_tag :generetta %>
  <title>Generetta</title>
</head>
<body>

<header>
  <h1>Generetta</h1>
  <nav>
    <ul>
      <li><%=link_to "TOP", "/generetta/" %></li>
    </ul>
  </nav>
</header>

<div id="content">
  <%= yield %>
</div>

<footer>
  <p></p>
</footer>

</body>
</html>
