<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript;charset=UTF-8" />
  <%=stylesheet_link_tag :generetta %>
  <title>Generetta</title>
</head>
<body>

<nav id="sidebar">
  <h2>Navigation</h2>
</nav>

<div id="content">
  <%= yield %>
</div>

</body>
</html>
